# macOS Desktop Service
*.DS_Store
# Unnecessary Paths
/source
/build
/*.pdf
*.pdf
# LaTeX Auxiliary Files
*.aux
*.bbl
*-BSTcontrol.bib
*.dvi
*.fdb_latexmk
*.fls
*.hd
*.glo
*.log
*.synctex.gz
*.synctex(busy)